# Python gereksizleri
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam 
venv/
env/
.env

# Modeller 
*.h5
*.weights.h5
models/

# Galeri resimleri (Test için yüklediklerim)
app/backend/gallery/*
!app/backend/gallery/.gitkeep

# IDE ayarları (VS Code vb.)
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db