tensorflow
fastapi
uvicorn
python-multipart
pillow
numpy
scikit-learn
streamlit
requests
minio
qdrant-client==1.9.1
# Ultralytics'i CPU modunda kurmak için özel ayar:
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics